<ul id="menu">
    <li>打开</li>
    <li>复制</li>
    <li>粘贴</li>
    <li>剪切</li>
    <li>删除</li>
    <li>重命名</li>
</ul>
<script>
    $("#menu li").on("click", function (e) {
        var tex = $(e.target).text();
        var callback =<%= title %>;
        callback(tex,path);
        $("#menu").hide();
    })

</script>