<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线聊天</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/common/common.css">

</head>

<body class="layui-layout-body">
    <div id="chatOnline" class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">NODE</div>
            <ul class="layui-nav layui-layout-left" lay-filter="">
                <li class="layui-nav-item"><a href="/">文件操作</a></li>
                <li class="layui-nav-item"><a href="/table">数据操作</a></li>
                <li class="layui-nav-item layui-this"><a href="javascript:;">在线聊天</a></li>
            </ul>
        </div>
        <div class="layui-body">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>聊天列表</legend>
            </fieldset>

            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15" id="chatLists">
                    <div class="layui-col-md6 chatItem" data-id="group001">
                        <div class="layui-card">
                            <div class="layui-row">
                                <div class="layui-col-xs9">
                                    <img src="/images/user.png" class="chatUses" alt="">
                                    <p class="chatTitle">闲聊群</p>
                                    <p>温馨，和谐，礼貌，真诚，不欢迎广告！</p>
                                </div>
                                <div class="layui-col-xs3">
                                    <p>创建人:张三</p>
                                    <p>2020/02/02 13:14</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6 chatItem" data-id="group002">
                        <div class="layui-card">
                            <div class="layui-row">
                                <div class="layui-col-xs9">
                                    <img src="/images/user.png" class="chatUses" alt="">
                                    <p class="chatTitle">项目沟通群</p>
                                    <p>进群请先修改群昵称，格式：部门-姓名</p>
                                </div>
                                <div class="layui-col-xs3">
                                    <p>创建人:李四</p>
                                    <p>2020/02/02 13:14</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6 chatItem" data-id="single003">
                        <div class="layui-card">
                            <div class="layui-row">
                                <div class="layui-col-xs9">
                                    <img src="/images/user.png" class="chatUses" alt="">
                                    <p class="chatTitle">机器喵</p>
                                    <p>一个不会聊天，只会计算加减乘除的程序喵，例如：1+2-3</p>
                                </div>
                                <div class="layui-col-xs3">
                                    <p>创建人:王五</p>
                                    <p>2020/02/02 13:14</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="chatRoom" style="display:none">

        <div id="chatTop">
            <span id="roomName" data-id=""></span>
            <span id="userCount"></span>
            <i class="layui-icon layui-icon-close"></i>
        </div>
        <div id="chatList" style="margin: 50px 0;">

        </div>
        <div id="chatBotton">
            <input type="text" id="chatWord" class="layui-input">
            <button type="button" class="layui-btn" id="send-btn">发送</button>
        </div>
    </div>
    <script src="/common/jquery-1.11.3.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/common/chatOnline.js"></script>
    <script type="text/javascript" src="/common/socket.io.min.js"></script>
</body>

</html>