<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线聊天</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/common/common.css">

</head>

<body class="layui-layout-body">
    <div id="chatRoom">

        <div id="chatTop">
            <span id="roomName">闲聊群</span>
            <span id="userCount">0</span>
            <i class="layui-icon layui-icon-close"></i>
        </div>
        <div id="chatList" style="margin: 50px 0;">

        </div>
        <div id="chatBotton">
            <input type="text" id="chatWord" class="layui-input">
            <button type="button" class="layui-btn" id="send-btn">发送</button>
        </div>
    </div>
    <script src="/common/jquery-1.11.3.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script type="text/javascript" src="/common/socket.io.min.js"></script>
    <script>
        var resData = '<%- JSON.stringify(chatLists) %>';
        layui.use(['layer'], function () {
            var user = window.sessionStorage.getItem("user");
            var socket = io();
            socket.on('connect', function () {
                console.log("socket connect");
                socket.emit('join', { id: getQuery("roomId"), user: user });
            });
            socket.on('disconnect', () => {
                console.log("socket disconnect");
                // socket.open();
            });
            socket.on('chatLists', function (data) {
                if (data.code == 0) {
                    chatListRend(data.data)
                } else {
                    layer.msg(data.msg.name)
                }
            });
            socket.on('inORout', function (data) {
                var str = '<div id="inORout"><span>' + data + '</span></div>';
                $("#chatList").append(str);
                console.log($("#userCount").text());
                
                // $("#userCount").text(" (" + data.count + ")")
            });
            chatListRend(JSON.parse(resData))
            $("#chatWord").keypress(function (e) {
                if (e.which == 13) {
                    $("#send-btn").click();
                }
            });
            $(".layui-icon-close").on("click", function () {
                socket.emit('inORout', user);
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            })
            $("#send-btn").on("click", function () {
                var msg = $("#chatWord").val();
                if (msg.trim() != "") {
                    var sendData = {
                        msg: msg,
                        userName: user,
                        roomId: getQuery("roomId"),
                        userId: ($(".self").length > 0 ? $(".self").eq(0).attr("data-id") : null)
                    }
                    socket.emit('sendMsg', sendData);
                    $("#chatWord").val("")
                }
            })
            function getQuery(name) {
                var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                var r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            }
            function chatListRend(data) {
                var str = "";
                for (var i = 0; i < data.length; i++) {
                    var name = data[i].userName;
                    str +=
                        '<div class="chatItem' + (name == user ? " self" : "") + '" style="padding: 10px;" data-id="' + data[i].userId + '">' +
                        '<div class="author">' + (name == user ? "我" : name.slice(0, 2)) + '</div>' +
                        '<div class="time"><span style="font-weight:bold">' + (name == user ? "" : name) + ' </span>' +
                        '<span>' + (data[i].userChatTime ? data[i].userChatTime : "") + '</span></div>' +
                        '<div class="massage">' + data[i].userChat + '</div>' +
                        '</div>'
                }
                $("#chatList").append(str);
            }
        })
    </script>
</body>

</html>