<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线聊天</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/common/common.css">

</head>

<body class="layui-layout-body">
    <div id="chatRoom">

        <div id="chatTop">
            <span>闲聊群 (12)</span>
            <i class="layui-icon layui-icon-close"></i>
        </div>
        <div id="chatList" style="margin: 50px 0;">
            <div class="chatItem" style="padding: 10px;">
                <div class="author">张三</div>
                <div class="time">
                    <span style="font-weight:bold">张三 </span>
                    2020/03/17 14:59
                </div>
                <div class="massage">
                    我是一个粉刷匠，粉刷本领强，
                    我是一个粉刷匠，粉刷本领强，
                    我是一个粉刷匠，粉刷本领强，
                </div>
            </div>
        </div>
        <div id="chatBotton">
            <input type="text" id="chatWord" class="layui-input">
            <button type="button" class="layui-btn" id="send-btn">发送</button>
        </div>
    </div>
    <script src="/common/jquery-1.11.3.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script type="text/javascript" src="/common/socket.io.min.js"></script>
    <script>
        layui.use(['layer'], function () {
            var user = window.sessionStorage.getItem("user");
            var socket = io();
            socket.on('connect', function () {
                console.log("socket服务连接");
                socket.emit('join', { id: "001" });
            });
            socket.on('chatLists', function (data) {
                if (data.code == 0) {
                    chatListRend(data.data)
                } else {
                    layer.msg(data.msg)
                }
            });
            socket.on('disconnect', () => {
                console.log("socket服务已断开，等待重连...");
                socket.open();
            });
            $(".layui-icon-close").on("click", function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            })
            $("#send-btn").on("click", function () {
                var msg = $("#chatWord").val();
                if (msg.trim() != "") {
                    var sendData = {
                        msg: msg,
                        userName: user,
                        roomId: getQuery("roomId"),
                        userId: ($(".self").length > 0 ? $(".self").eq(0).attr("data-id") : null)
                    }
                    socket.emit('sendMsg', sendData);
                    $("#chatWord").val("")
                }
            })
            function getQuery(name) {
                var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                var r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            }
            function chatListRend(data) {
                var str = "";
                for (var i = 0; i < data.length; i++) {
                    str +=
                        '<div class="chatItem' + (data[i].userName == user ? " self" : "") + '" style="padding: 10px;" data-id="' + data[i].userId + '">' +
                        '<div class="author">' + (data[i].userName == user ? "我" : data[i].userName.slice(0, 2)) + '</div>' +
                        '<div class="time"><span style="font-weight:bold">' + (data[i].userName == user ? "" : data[i].userName) + ' </span>' + data[i].userChatTime + '</div>' +
                        '<div class="massage">' + data[i].userChat + '</div>' +
                        '</div>'
                }
                $("#chatList").append(str);
            }
        })
    </script>
</body>

</html>