<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>数据操作</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/common/common.css">

</head>

<body>

    <body class="layui-layout-body">
        <div id="node_folder" class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <div class="layui-logo">NODE</div>
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="/">文件操作</a></li>
                    <li class="layui-nav-item layui-this"><a href="/table">数据操作</a></li>
                </ul>
            </div>
            <div class="layui-body">
                <form class="layui-form" id="formList">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">作者:</label>
                            <div class="layui-input-block">
                                <input type="text" name="author" placeholder="请输入" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">标题:</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" placeholder="请输入" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">朝代:</label>
                            <div class="layui-input-block">
                                <input type="text" name="dynasty" placeholder="请输入" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">分类:</label>
                            <div class="layui-input-block">
                                <select name="type">
                                    <option value=""></option>
                                    <option value="1">写事写人</option>
                                    <option value="2">写景咏物</option>
                                    <option value="3">言志抒情</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formList">查询</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="layui-table" id="tableList" lay-filter="tableList">

                </table>
            </div>
        </div>
        <div id="modalDemo" style="display:none">
            <form class="layui-form" id="modalForm" action="" lay-filter="modalForm" style="padding:30px 40px 5px 10px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">作者</label>
                    <div class="layui-input-block">
                        <input type="text" name="author" lay-verify="required" autocomplete="off" placeholder="请输入标题"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">朝代</label>
                    <div class="layui-input-block">
                        <input type="text" name="dynasty" autocomplete="off" placeholder="请输入标题"
                            class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">分类</label>
                    <div class="layui-input-block">
                        <select name="type">
                                <option value=""></option>
                                <option value="1">写事写人</option>
                                <option value="2">写景咏物</option>
                                <option value="3">言志抒情</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">内容</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="content" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-left: 20px;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="modalForm">确定</button>
                        <button type="reset" class="layui-btn layui-btn-primary" onclick="layer.close(modal);">取消</button>
                    </div>
                </div>
            </form>
        </div>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
                <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
                <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
            </div>
        </script>

        <script src="/common/jquery-1.11.3.min.js"></script>
        <script src="/layui/layui.js"></script>
        <script src="/common/table.js"></script>
    </body>

</html>