<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件夹</title>
    <link rel="stylesheet" href="/static/common/common.css">
    <link rel="stylesheet" href="/static/common/bootstrap.min.css">

</head>

<body>
    <div id="node_folder">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">文件夹</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">新建</a></li>
                        <li><a href="#">上传</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <ol class="breadcrumb"></ol>
        <ul id="foldList"></ul>
    </div>
    <script src="/static/common/jquery-1.11.3.min.js"></script>
    <script src="/static/common/bootstrap.min.js"></script>
    <script>
        var url = decodeURI(location.pathname);
        getFileList();
        getBreadcrumb();

        function getFileList() {
            $.ajax({
                url: '/index.htm',
                method: 'get',
                data: { dir: url },
                success: (res) => {
                    if (res.data) {
                        addList(res)
                    }
                }
            })
        }

        function getBreadcrumb() {
            var items = url.split("/");
            var str = '';
            for (let i = 0; i < items.length - 1; i++) {
                if (i == 0) {
                    str += '<li><a href="/">全部</a></li>'
                } else if (i == items.length - 2) {
                    str += '<li class="active">' + items[i] + '</li>'
                } else {
                    str += '<li><a href="/' + items[i] + '/">' + items[i] + '</a></li>'
                }
            }
            $(".breadcrumb").html(str)
        }

        function addList(res) {
            var str = "";
            for (let i = 0; i < res.data.length; i++) {
                var item = res.data[i];
                if (item.isFold) {
                    str += '<li><a href="' + item.dir + '/"><i class="glyphicon glyphicon-folder-close"></i>' + item.foldName + '</a></li>'
                } else {
                    if (item.type == '.jpg' || item.type == '.png' || item.type == '.gif') {
                        str += '<li><a href="/static' + item.dir + '" target="_blank"><i class="glyphicon glyphicon-picture"></i>' + item.foldName + '</a></li>'
                    } else {
                        str += '<li><a href="/static' + item.dir + '" target="_blank"><i class="glyphicon glyphicon-file"></i>' + item.foldName + '</a></li>'
                    }
                }
            }
            $("#foldList").html(str)
        }
    </script>
</body>

</html>